$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.game-container {
  display: none;
  width: 90%; // this effects height as well
  margin: auto; // this centers it left-right, but keeps it pinned to top
}

.top {
  border-bottom: solid black 3px;
}

.mid {
  border-bottom: solid black 3px;
}

.cent {
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.col-xs-4 {
  height: 0;
  padding-bottom: 30%; // this is what affects the height of the board, but they don't look square at anything less
}

.x {
  text-align: center;
  font-size: 12em;
  display: none;
}

.o {
  text-align: center;
  font-size: 12em;
  display: none;
}

.hover-x {
  text-align: center;
  font-size: 12em;
  opacity: 0.5;
  display: none;
}

.hover-o {
  text-align: center;
  font-size: 12em;
  opacity: 0.5;
  display: none;
}

.win-x {
  text-align: center;
  font-size: 12em;
  display: none;
}

.win-o {
  text-align: center;
  font-size: 12em;
  display: none;
}



body {
  background-color: pink;
  font-family: cursive;
}

h1 {
  font-size: 300%;
  margin-bottom: 7%;
  margin-left: auto;
  margin-right: auto;
  border: solid black 3px;
  border-radius: 10px;
  max-width: 600px;
  padding: 10px;
}

.sign-in-message {
  display: none;
  background-color: pink;
}

.sign-up-message {
  display: none;
  background-color: pink;
}

p {
  margin-bottom: 5%;
  font-size: 1.5em;
}

.intro {
  text-align: center;
}

.modal {
  margin-top: 10%;
}

.sign-up {
  border-right: solid black 1px;
}

.modal-center {
  text-align: center;
}

.options-state {
  display: none;
  text-align: center;
}

.onward {
  display: none;
}

.sign-up-error {
  text-align: center;
  display: none;
  background-color: orange;
}

.sign-in-error {
  text-align: center;
  display: none;
  background-color: orange;
}

form {
  margin: 3%;
}

.occupied {
  display: none;
  font-size: 3em;
}

.game-over-message {
  font-size: 2em;
}
