$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.top {
  border-bottom: solid black 3px;
}

.mid {
  border-bottom: solid black 3px;
}

.cent {
  border-left: solid black 3px;
  border-right: solid black 3px;
}

.col-xs-4 {
  height: 0;
  padding-bottom: 30%;
  background-color: pink;
}

.x {
  text-align: center;
  font-size: 12em;
}

.o {
  text-align: center;
  font-size: 12em;
}

.hover-x {
  text-align: center;
  font-size: 12em;
  opacity: 0.5;
}

.hover-o {
  text-align: center;
  font-size: 12em;
  opacity: 0.5;
}

body {
  background-color: gray;
}

h1 {
  text-align: center;
}
